<section class="count">
	<div class="container">
		<div class="count__inner">
			<span class="count__slogan slogan">Countdown</span>
			<p class="count__title title">What’s the most profitable way to trade a token?</p>
			<p class="count__subtitle subtitle">
				Now the project is in the pre-seed round, and everyone can purchase an SIT token with a
				benefit of up to 50%
			</p>
			<div class="count__wrapper">
				<div class="count__icon"></div>
				<ul class="round__list">
					<li class="round__item">
						<span class="round__price">0.0033$</span>
						<span class="round__title">Pre-seed round</span>
						<!-- <p class="round__subtitle">
						Until August 1, you can purchase SIT tokens at the most favourable rate.
					</p> -->
					</li>
					<li class="round__item">
						<span class="round__price">0.005$</span>
						<span class="round__title">Seed round</span>
						<!-- <p class="round__subtitle">
						Until August 15, you will be able to purchase SIT tokens with a profit margin of 50%.
					</p> -->
					</li>
					<li class="round__item">
						<span class="round__price">0.01$</span>
						<span class="round__title">Release day on the</span>
						<!-- <p class="round__subtitle">
						On August 15, the SIT token will be traded on the exchange at 1¢ and will multiply your
						profit by 5-10 in the first month of listing
					</p> -->
					</li>
				</ul>
			</div>
			<div class="count__timer">
				<p class="timer__title">Token price will increase in</p>
			</div>
		</div>
	</div>
</section>
