<section class="features">
	<div class="container">
		<div class="features__wrapper">
			<article class="features__inner">
				<span class="features__slogan slogan">Features.security.NO BETS</span>
				<h3 class="features__title title">Features & Security</h3>
				<p class="features__subtitle">
					Why is investing in sports together with Sport Investing safe?
				</p>
				<ul class="features__list">
					<li class="features__item">
						<span class="features__item-title">Smart contract</span>
						<p class="features__item-subtitle subtitle">
							Each transaction takes place under a smart contract and is protected by encryption.
						</p>
					</li>
					<li class="features__item">
						<span class="features__item-title">Minimal risks</span>
						<p class="features__item-subtitle subtitle">
							The value of a player or a club is not subject to sharp jumps down, and according to
							the statistics, you will not lose more than 10-20%.
						</p>
					</li>
					<li class="features__item">
						<span class="features__item-title">Halal and no bets</span>
						<p class="features__item-subtitle subtitle">
							Investments in tokenised values have nothing to do with the betting, because they do
							not provide instant benefits.
						</p>
					</li>
				</ul>
			</article>
			<div class="features__slider">
				<div class="slider__wrapper">
					<div class="slider__inner">
						<div class="slider__content">
							<img class="slider__image" src="./img/slider/image-1.png" alt="" />
							<div class="slider__text">
								<p class="slider__title">Earn money not only when your sports team wins.</p>
								<p class="slider__subtitle slider__subtitle">
									Every fan will be able to monetise their hobby and support their favourite players
									and teams without participating in dangerous sports betting. Get more benefits
									from smart investments without the risk of losing all your capital.
								</p>
							</div>
						</div>
					</div>
				</div>
				<p class="slider__desc">
					Our platform blends sports with cryptocurrencies and provides broad functionality.
				</p>
			</div>
		</div>
	</div>
</section>
