<section class="risk">
	<div class="risk__wrapper">
		<div class="container">
			<div class="risk__inner">
				<div class="features__slider slider">
					<div class="slider__wrapper">
						<div class="slider__inner">
							<article class="slider__content">
								<img class="slider__image" src="./img/slider/image-1.png" alt="" />
								<div class="slider__text">
									<p class="slider__title">Earn money not only when your sports team wins.</p>
									<p class="slider__subtitle slider__subtitle">
										Every fan will be able to monetise their hobby and support their favourite
										players and teams without participating in dangerous sports betting. Get more
										benefits from smart investments without the risk of losing all your capital.
									</p>
								</div>
							</article>
						</div>
					</div>
					<p class="slider__desc">
						Our platform blends sports with cryptocurrencies and provides broad functionality.
					</p>
				</div>
				<div class="risk__content">
					<span class="risk__slogan slogan">Risk-free.huge market.Individual Approach</span>
					<h3 class="risk__title title">Why should you buy SIT?</h3>
					<p class="risk__subtitle">
						Investors can purchase the SIT token with great discount before it&nbsp;will
						go&nbsp;to&nbsp;public. When the token starts to&nbsp;trade at&nbsp;exchange early
						pre-seed investors can already earn around 5-10 times profit.
					</p>
					<div class="logo">
						<img src="./img/icons/logo-icon2.svg" alt="" class="logo__icon" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
