<section class="roadmap">
	<div class="container">
		<div class="roadmap__wrapper">
		<div class="roadmap__inner">
			<span class="roadmap__slogan slogan">OUR PLANS</span>
			<h3 class="roadmap__title title">The Roadmap</h3>
			<ul class="roadmap__list">
				<li class="roadmap__item">
					<span class="roadmap__data">2019</span>
					<div class="roadmap__text">
						Beginning stages of development of the platform and the token. Team building.
					</div>
				</li>
				<li class="roadmap__item">
					<span class="roadmap__data">01.2021 – 14.08.2021</span>
					<div class="roadmap__text">
						Development of the technical and blockchain parts of the platform. Adding 5,000 players
						and 215 clubs to the platform
					</div>
				</li>
				<li class="roadmap__item">
					<span class="roadmap__data">15.08.2021 – 30.09.2021</span>
					<div class="roadmap__text">
						<ul class="roadmap__text-list">
							<li class="roadmap__text-item">listing on Pancake Swap and other exchanges</li>
							<li class="roadmap__text-item">platform release</li>
							<li class="roadmap__text-item">launch of a marketing campaign in 15 countries</li>
							<li class="roadmap__text-item">collaboration with global ambassadors</li>
						</ul>
					</div>
				</li>
				<li class="roadmap__item">
					<span class="roadmap__data">1.10.2021 – 31.12.2021</span>
					<div class="roadmap__text">
						<ul class="roadmap__text-list">
							<li class="roadmap__text-item">mobile app release</li>
							<li class="roadmap__text-item">
								assigning tokens to basketball and hockey teams and athletes based on ratings
							</li>
							<li class="roadmap__text-item">
								centralised exchanges entry (Asia, small exchanges)
							</li>
						</ul>
					</div>
				</li>
				<li class="roadmap__item">
					<span class="roadmap__data">1.01.2022 – 31.03.2022</span>
					<div class="roadmap__text">
						<ul class="roadmap__text-list">
							<li class="roadmap__text-item">top cryptocurrency exchanges entry</li>
							<li class="roadmap__text-item">
								launch of tokens assigned to boxers, MMA fighters, athletes and cricket teams
							</li>
						</ul>
					</div>
				</li>
				<li class="roadmap__item">
					<span class="roadmap__data">1.04.2022 – 30.06.2022</span>
					<div class="roadmap__text">
						<ul class="roadmap__text-list">
							<li class="roadmap__text-item">
								launch of our own fully-functioning players’ token exchange
							</li>
							<li class="roadmap__text-item">retired athletes’ NFT- token release</li>
						</ul>
					</div>
				</li>
				<li class="roadmap__item">
					<span class="roadmap__data">1.07.2022 – 30.09.2022</span>
					<div class="roadmap__text">
						<ul class="roadmap__text-list">
							<li class="roadmap__text-item">
								gamification of the platform in the form of Fantasy Sport
							</li>
							<li class="roadmap__text-item">NFT-auction launch and player's cards release</li>
							<li class="roadmap__text-item">launch of a decentralised football club</li>
						</ul>
					</div>
				</li>
				<li class="roadmap__item">
					<span class="roadmap__data">30.09.2022 – ∞</span>
					<div class="roadmap__text">
						<ul class="roadmap__text-list">
							<li class="roadmap__text-item">global partnerships with sports organisations</li>
							<li class="roadmap__text-item">
								conclusion of contracts with clubs, players and corporations
							</li>
							<li class="roadmap__text-item">development of the SIT football fund</li>
						</ul>
					</div>
				</li>
			</ul>
			
		</div>
		<div class="roadmap__desc">
			<p class="roadmp__title title">
				Our roadmap focuses on the development of the technology, operational infrastructure and new partnerships.
			</p>
		</div>
	</div>
	</div>
</ы>
