<section class="sit">
	<div class="container">
		<div class="sit__wraper">
			<div class="sit__token"></div>
			<article class="sit__inner">
				<span class="sit__slogan slogan">SIT TOKENS.MULTI-CHAIN.LISTING</span>
				<h3 class="sit__title title">What is an SIT?</h3>
				<p class="sit__subtitle">
					In order to buy athletes'/clubs' tokens on the platform, users deal with SIT, which can be
					traded on crypto-exchanges.
				</p>
				<p class="sit__subtitle">
					The token is launched on the Binance Smart Chain (BEP20) and has already been verified by
					the Binance Smart Chain Explorer validator.
				</p>

				<p class="sit__text">
					In the third quarter of 2021 the token is to become multi-chain and is going to be
					available on such blockchains as Freeton, Ethereum and Tron. It is also going to feature
					our own product "SIT connecting bridge".
				</p>
				<span class="sit__desc">Date of listing on a decentralised exchange: 15.08.2021</span>
				<div class="sit__btn">
					<a class="token__buy-link" href="#">Buy token</a>
				</div>
			</article>
		</div>
	</div>
</section>
