<section class="team">
	<div class="container">
		<div class="team__inner">
			<article class="team__text">
				<span class="team__slogan slogan">Dream team</span>
				<h3 class="team__title title">Our team are professionals</h3>
				<p class="team__subtitle subtitle">
					The smartest people work every day to provide the best service and make our clients happy
				</p>
			</article>
			<ul class="team__list">
				<li class="team__item">
					<div class="team__card">
						<img src="./img/team/icons/david-atterman.png" alt="" class="team__icon" />
						<span class="team__card-title">David Atterman</span>
						<span class="team__card-subtitle">Founder & CEO</span>
					</div>
				</li>
				<li class="team__item">
					<div class="team__card">
						<img src="./img/team/icons/anton-free.png" alt="" class="team__icon" />
						<span class="team__card-title">Anton Free</span>
						<span class="team__card-subtitle">Chief Marketing Officer & CSO</span>
					</div>
					<div class="team__card">
						<img src="./img/team/icons/yusup-tuluqou.png" alt="" class="team__icon" />
						<span class="team__card-title">Yusup Tuluqou</span>
						<span class="team__card-subtitle">Chief Product Officer</span>
					</div>
					<div class="team__card">
						<img src="./img/team/icons/bobo-murod.png" alt="" class="team__icon" />
						<span class="team__card-title">Bobo Murod</span>
						<span class="team__card-subtitle">Chief Blockchain Officer</span>
					</div>
				</li>
				<li class="team__item">
					<div class="team__card">
						<img src="./img/team/icons/randal-clyde.png" alt="" class="team__icon" />
						<span class="team__card-title">Randal Clyde</span>
						<span class="team__card-subtitle">Chief Technical Officer</span>
					</div>
					<div class="team__card">
						<img src="./img/team/icons/tomer-savoia.png" alt="" class="team__icon" />
						<span class="team__card-title">Tomer Savoia</span>
						<span class="team__card-subtitle">Partnership ambassador</span>
					</div>
				</li>
			</ul>
			<div class="team__join">
				<p class="team__join-title">
					Join to our team as professional or ambassador and get a reward
				</p>
				<p class="team__join-subtitle">
					We are looking for athletes, sports clubs and influencers who are ready to be official
					advisers
				</p>
				<a href="" class="team__join-btn">Contact us</a>
			</div>
		</div>
	</div>
</section>
