<section class="tokenomics">
	<div class="tokenomics__wrapper">
		<div class="container">
			<div class="tokenomics__inner">
				<article class="tokenomics__text">
					<span class="tokenomics__slogan slogan">Chart</span>
					<h3 class="tokenomics__title title">Tokenomics</h3>
					<p class="tokenomics__subtitle subtitle">
						LIQUDITY POOL STRATEGY&nbsp;&mdash; GREEN SHOE STRATEGY
					</p>
					<p class="tokenomics__subtitle subtitle">
						&mdash;&nbsp;70% of&nbsp;the platform&rsquo;s profit will be&nbsp;reinvested on&nbsp;the
						exchange and placed in the form of&nbsp;purchase orders to&nbsp;maintain the price
						of&nbsp;the SIT token.
					</p>
					<div class="tokenomics__list-inner">
						<ul class="tokenomics__list">
							<li class="tokenomics__item">12% – Team</li>
							<li class="tokenomics__item">10% – Reserve Fund</li>
							<li class="tokenomics__item">10% – Liquidity</li>
							<li class="tokenomics__item">5% – Presale</li>
							<li class="tokenomics__item">3% – Advisers</li>
						</ul>
						<ul class="tokenomics__list">
							<li class="tokenomics__item">15% – Marketing</li>
							<li class="tokenomics__item">15% – Ecosystem</li>
							<li class="tokenomics__item">15% – Sports Partnership</li>
							<li class="tokenomics__item">15% – Tokensale</li>
						</ul>
					</div>
					<div class="tokemoics__link">
						<a href="#" class="token__buy-link">Buy token</a>
					</div>
				</article>
				<div class="tokenomics__chart">
					<img src="./img/tokenomics/tokenomics-chart.png" alt="" class="tokenomics__chart-icon" />
				</div>
			</div>
		</div>
	</div>
</section>
