<section class="welcome">
	<div class="container">
		<div class="welcome__inner">
			<h1 class="welcome__title">
				Welcome to&nbsp;the
				<span>first</span>
				<br />
				sports investing platform!
			</h1>
			<p class="welcome__subtitle">
				We have developed an investment platform that allows our users to gain profit from special
				sports tokens, the value of which depends on the performance of individual athletes or
				sports clubs.
			</p>
			<div class="welcome__token">
				<a class="token__buy-link" href="#">Buy token</a>
				<a class="token__whitepaper-link" href="#">Whitepaper</a>
			</div>
		</div>
		<div class="welcome__content">
			<ul class="welcome__list">
				<li class="welcome__list-item">
					<h4 class="welcome__list-title welcome__list-title--ball">How does it work?</h4>
					<p class="welcome__list-subtitle">
						The platform allows you to multiply your funds as the values of your favourite teams and
						players increase. No sweepstakes or bets involved.
					</p>
				</li>
				<li class="welcome__list-item">
					<h4 class="welcome__list-title welcome__list-title--coin">How is it possible?</h4>
					<p class="welcome__list-subtitle">
						We released internal tokens for every professional athlete/sports club on a platform
						with token price based on publicly available ratings.
					</p>
				</li>
				<li class="welcome__list-item">
					<h4 class="welcome__list-title welcome__list-title--shop">How to earn?</h4>
					<p class="welcome__list-subtitle">
						Our platform allows users to purchase a token assigned to any athlete or club at the SIT
						market value and sell it when the market value rises.
					</p>
				</li>
			</ul>
			<img class="welcome-img" src="./img/icons/welcome-bg.png" alt="" />
			<p class="welcome-text">
				Making money on sports without betting. Our coin for sports fans, analysts and investors.
			</p>
			<p class="welcome-slogan">The way it works is really simple.</p>
			<div class="welcome-bg"></div>
		</div>
	</div>
</section>
